<div class="dashboard-layout">
  <div class="user">
    <div class="user-infos">
      <div class="avatar">
        <img src="http://via.placeholder.com/80x80" alt="Avatar">
        <div class="switch">
          <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
          <label for="cmn-toggle-1"></label>
        </div>
      </div>
      <div class="user-infos-right">
        <div class="user-name">
          <h2>Beth Sanchez</h2>
        </div>
        <div class="address">
          <p>55 usher road, London E3 2HA</p>
        </div>
      </div>
    </div>
    <div class="user-description">
      <p>"This is a description"</p>
    </div>
    <div align="right">
      <a href="#" class="btn btn-primary">EDIT</a>
    </div>
  </div>
  <div class="skills">
    <div class="skills-grid">
      <div class="skill">
        <p>Skill 1</p>
      </div>
      <div class="skill">
        <p>Skill 2</p>
      </div>
      <div class="skill">
        <p>Skill 3</p>
      </div>
      <div class="skill">
        <p>Skill 4</p>
      </div>
      <div class="skill">
        <p>Skill 5</p>
      </div>
      <div class="skill">
        <p>Skill 6</p>
      </div>
    </div>
    <div align="right">
      <a href="#" class="btn btn-primary">EDIT</a>
    </div>
  </div>
  <div class="bookings">
    <h1>Manage Bookings</h1>
    <div class="booking-cards">
      <div class="card">
        <div class="card-left avatar">
          <img src="http://via.placeholder.com/50x50" alt="Avatar">
          <h2>Parent Name</h2>
        </div>
        <div class="card-middle">
          <p class="message">"Hello, my name is Jane Doe and I have two children, age five and three. My son Will is lactose intolerent so I would benefit from your cooking. I need someone for the next couple of weeks, Saturday and Sunday."</p>
        </div>
        <div class="card-right">
          <a href="#" class="btn btn-primary">Yes</a>
          <a href="#" class="btn btn-primary">No</a>
        </div>
      </div>
    </div>
  </div>
</div>
