<p>This is the page to add or remove a skill</p>

<div class="text-center">
  <p>Test for the buttons</p>
  <a href="#" class="btn btn-awsit">TEST BUTTON</a>
  <a href="#" class="btn btn-awsit-rnd">TEST BUTTON</a>
  <a href="#" class="btn btn-awsit-sqr">TEST BUTTON</a>
</div>
