<!-- Main banner  -->
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
    <div class="banner-content">
      <h1>Awsit</h1>
      <p>Placeholder tagline!! </p>
      <div class="home-buttons">
        <button data-toggle="modal" data-target="#Login_Modal">
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path%>
        </button>
          <p>or</p>
        <button data-toggle="modal" data-target="#SignUp_Modal">
          <%= link_to t(".sign_in", default: "Sign Up"), new_user_registration_path  %>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="Login_Modal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
             <h2>hello</h2>
            </div>
          </div>
        </div>
      </div> <!-- home buttons div-->

      <div class="arrow-container"> <!-- animated arrow -->
        <a href="#extra-info" class="hide-on-palm arrow-down">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-chevron-down fa-stack-1x"></i>
          </span>
        </a>
      </div>
    </div>
  </div>

<!-- Info banner  -->
<div class="home-info" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="banner-content">
    <div class="container">
      <h3>Why use Awsit?</h3>
      <div class="row home-info-row">
        <div class="col-xs-12 col-sm-4">
          <div class="info-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
            <div class="card-category">quick and easy</div>
            <div class="info-card-description">
              <p>Very cool city, the best</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="info-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
            <div class="card-category">large user base</div>
            <div class="info-card-description">
              <p>Very cool city, the best</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="info-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
            <div class="card-category">free to use</div>
            <div class="info-card-description">
              <p>Very cool city, the best</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Testimonies banner  -->
<div class="home-testimonies" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/tokyo');">
  <div class="banner-content">
    <div class="container">
      <h3>They liked it!</h3>
      <div class="row home-info-row">
        <div class="col-xs-12 col-sm-4">
          <div class="testimonies-card test-card-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
            <div class="user-avatar-container">
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            </div>
            <div class="testimonies-card-description">
              <p>The best experience of my life!</p>
               <div class="test-user-name"><p> - guy</p></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="testimonies-card test-card-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
            <div class="user-avatar-container">
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/ssaunier">
            </div>
            <div class="testimonies-card-description">
              <p>amazing stuff dudeeee babysitters rule</p>
               <div class="test-user-name"><p> - seb</p></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="testimonies-card test-card-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
            <div class="user-avatar-container">
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/alex-felix">
            </div>
            <div class="testimonies-card-description">
              <p>vvery cheap and easy to use. plus I didn't loose my kid</p>
              <div class="test-user-name"><p> - Alex</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
